html, body {
    height: 100%;
}
body {
    display: grid;
    /* pour avoir barre de nav en haut, le main 1fr et footer en bas */
    grid-template-rows: auto 1fr auto;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.popcorn-brand {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}


